In [1]:
import numpy as np
import pandas as pd

In [5]:
df.head()

,CSCO,UAL,TROW,ISRG,NVR,PRGO,TPR,DVN,CE,MRO,...,CRM,PGR,WAT,IEX,BWA,LRCX,NWL,UAA,BLK,PPL
Date,,,,,,,,,,,,,,,,,,,,,
2019-06-07,54.244591,83.269997,102.618179,499.040009,3391.000000,43.477894,28.972601,25.137054,98.704704,13.140017,...,161.270004,82.750381,208.770004,159.586365,39.186317,182.789169,13.995789,25.900000,434.302948,29.824770
2019-06-10,54.719818,82.669998,103.860970,509.720001,3402.350098,43.270485,28.704424,25.557800,100.149345,13.278229,...,152.789993,82.163422,210.479996,161.057983,39.738098,187.185593,13.813277,25.780001,434.009583,29.507484
2019-06-11,55.389030,82.769997,103.569687,506.559998,3370.820068,43.448265,28.464983,25.538229,101.135223,13.238739,...,150.149994,82.143539,207.889999,160.090073,40.319439,187.037872,14.024608,26.180000,433.334808,29.430567
2019-06-12,54.176701,83.790001,102.783226,501.920013,3395.000000,42.905037,27.612564,24.931574,101.701370,12.853720,...,151.279999,80.710968,204.360001,158.322159,39.984428,177.150238,13.986184,25.980000,436.395691,29.959375
2019-06-13,54.477356,87.110001,103.751404,505.600006,3395.810059,43.468018,28.675692,25.648396,102.745819,13.110398,...,151.339996,81.218330,204.009995,158.292526,40.506653,177.455536,14.274360,26.600000,438.380859,29.911301

In [7]:
def preprocess_data_for_labels(ticker):
    days = 7
    df = pd.read_csv('data/sp500_joined_closes.csv')
    tickers = df.columns.values.tolist()
    df.fillna(0, inplace = True)
    
    for i in range(1, days+1):
        df['{}_{}'.format(ticker, i)] = (df[ticker].shift(-1) - df[ticker]) / df[ticker]
        
    df.fillna(0, inplace=True)
    return tickers, df

In [10]:
preprocess_data_for_labels('UAL')[1]

,Date,CSCO,UAL,TROW,ISRG,NVR,PRGO,TPR,DVN,CE,...,UAA,BLK,PPL,UAL_1,UAL_2,UAL_3,UAL_4,UAL_5,UAL_6,UAL_7
0,2019-06-07,54.244591,83.269997,102.618179,499.040009,3391.000000,43.477894,28.972601,25.137054,98.704704,...,25.900000,434.302948,29.824770,-0.007205,-0.007205,-0.007205,-0.007205,-0.007205,-0.007205,-0.007205
1,2019-06-10,54.719818,82.669998,103.860970,509.720001,3402.350098,43.270485,28.704424,25.557800,100.149345,...,25.780001,434.009583,29.507484,0.001210,0.001210,0.001210,0.001210,0.001210,0.001210,0.001210
2,2019-06-11,55.389030,82.769997,103.569687,506.559998,3370.820068,43.448265,28.464983,25.538229,101.135223,...,26.180000,433.334808,29.430567,0.012323,0.012323,0.012323,0.012323,0.012323,0.012323,0.012323
3,2019-06-12,54.176701,83.790001,102.783226,501.920013,3395.000000,42.905037,27.612564,24.931574,101.701370,...,25.980000,436.395691,29.959375,0.039623,0.039623,0.039623,0.039623,0.039623,0.039623,0.039623
4,2019-06-13,54.477356,87.110001,103.751404,505.600006,3395.810059,43.468018,28.675692,25.648396,102.745819,...,26.600000,438.380859,29.911301,0.000115,0.000115,0.000115,0.000115,0.000115,0.000115,0.000115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,2020-05-14,43.849998,20.299999,112.570000,517.270020,2800.060059,51.990002,12.410000,11.660000,76.129997,...,7.710000,498.200012,25.240000,-0.018719,-0.018719,-0.018719,-0.018719,-0.018719,-0.018719,-0.018719
237,2020-05-15,44.270000,19.920000,113.510002,520.409973,2795.060059,52.759998,12.200000,11.950000,76.669998,...,7.710000,513.729980,24.510000,0.211345,0.211345,0.211345,0.211345,0.211345,0.211345,0.211345
238,2020-05-18,45.060001,24.129999,117.220001,538.409973,3100.629883,54.959999,13.390000,13.120000,84.309998,...,8.230000,516.429993,26.129999,-0.018649,-0.018649,-0.018649,-0.018649,-0.018649,-0.018649,-0.018649
239,2020-05-19,44.610001,23.680000,114.190002,531.000000,3137.090088,55.040001,12.860000,12.310000,83.879997,...,7.810000,501.200012,25.350000,0.051943,0.051943,0.051943,0.051943,0.051943,0.051943,0.051943
240,2020-05-20,45.439999,24.910000,114.839996,552.309998,3086.000000,55.080002,13.260000,12.420000,86.099998,...,8.240000,508.739990,25.590000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [11]:
def sell_buy_hold(*args):
    cols = [c for c in args]
    requirement = 0.02
    for col in cols:
        if (col > requirement):
            return 1
        if (col < -requirement):
            return -1
    return 0