## Visualization with matplotlib

### Outline:
- bar plot
- line plot
- scatter plot
- histogram

styles = - , –, -., , . , , , o , ^ , v , < , > , s , + , x , D , d , 1 , 2 , 3 , 4 , h , H , p , | , _
colors = b, g, r, c, m, y, k, w

In [11]:
import plotly.graph_objects as go

import pandas as pd
from datetime import datetime
import pandas_datareader as pdr
import datetime as dt

In [15]:
start = dt.datetime(2000,1,1)
end = dt.datetime(2010,5,21)
df = pdr.DataReader('AAPL', 'yahoo', start, end)

In [16]:
df

                 High        Low       Open      Close       Volume  Adj Close
Date
2000-01-03   4.017857   3.631696   3.745536   3.997768  133949200.0   3.460857
2000-01-04   3.950893   3.613839   3.866071   3.660714  128094400.0   3.169071
2000-01-05   3.948661   3.678571   3.705357   3.714286  194580400.0   3.215448
2000-01-06   3.821429   3.392857   3.790179   3.392857  191993200.0   2.937188
2000-01-07   3.607143   3.410714   3.446429   3.553571  115183600.0   3.076317
...               ...        ...        ...        ...          ...        ...
2010-05-17  36.597141  35.387142  36.385715  36.317142  190708700.0  31.439657
2010-05-18  36.935715  35.751427  36.711430  36.051430  195669600.0  31.209614
2010-05-19  36.131428  34.978573  35.642857  35.477142  256431700.0  30.712471
2010-05-20  34.835712  33.744286  34.554287  33.965714  320728800.0  29.404034
2010-05-21  34.928570  33.049999  33.259998  34.617142  305972800.0  29.967972

[2612 rows x 6 columns]